@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* 320px to 480px styles */
  li {
    color: red; } }

@media only screen and (min-device-width: 1200px) {
  /* 1200 devices styles */
  li {
    color: red; } }

* {
  margin: 0px;
  padding: 0px; }
