// border colors
$borderash: #CCC;
$borderdarkash: #666;

// body and text color
$darkblue: #2C3E50;
$lightred: #E74C3C;
$bitwhite: #FFF;
$lightblue: #3498DB;
$mediumblue: #2980B9;

// font style
$toplinksize: 12px;
$mainlinksize: 13px;

// fotns 
$toplinkfont: 'Roboto', sans-serif;
$mainlinkfont: 'Source Sans Pro', sans-serif;
$headersfont: 'Open Sans Condensed', sans-serif;